<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.afogh.alfred.digitalocean</string>
	<key>connections</key>
	<dict>
		<key>00D43475-46B5-4643-B174-F7F26859B336</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57CE9E69-3552-4620-82D5-B233DD646D4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4013F3E0-DA98-415A-8209-438709153E75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00D43475-46B5-4643-B174-F7F26859B336</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB1C6285-9426-49BB-A505-C6496E6C9C15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F553A7C1-99B3-4B66-91B4-24FDCD8E6325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC338F63-C88F-4828-966A-3801A34D9BDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDF194AB-E2D7-41B1-BBA2-37CB57AEF390</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F553A7C1-99B3-4B66-91B4-24FDCD8E6325</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57CE9E69-3552-4620-82D5-B233DD646D4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Anders Fogh Eriksen</string>
	<key>description</key>
	<string>Control your droplets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DigitalOcean</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from digitalocean import set_APIKey
set_APIKey("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F553A7C1-99B3-4B66-91B4-24FDCD8E6325</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>do api</string>
				<key>subtext</key>
				<string>Set your DigitalOcean API key</string>
				<key>text</key>
				<string>Set API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB1C6285-9426-49BB-A505-C6496E6C9C15</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>DigitalOcean</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>57CE9E69-3552-4620-82D5-B233DD646D4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from digitalocean import set_clientID
set_clientID("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00D43475-46B5-4643-B174-F7F26859B336</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>do client</string>
				<key>subtext</key>
				<string>Set your DigitalOcean Client ID</string>
				<key>text</key>
				<string>Set Client ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4013F3E0-DA98-415A-8209-438709153E75</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>ssh://root@{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BDF194AB-E2D7-41B1-BBA2-37CB57AEF390</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>do droplets</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from digitalocean import list_droplets
list_droplets()</string>
				<key>title</key>
				<string>Show your droplets</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DC338F63-C88F-4828-966A-3801A34D9BDD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00D43475-46B5-4643-B174-F7F26859B336</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4013F3E0-DA98-415A-8209-438709153E75</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>57CE9E69-3552-4620-82D5-B233DD646D4F</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>BB1C6285-9426-49BB-A505-C6496E6C9C15</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BDF194AB-E2D7-41B1-BBA2-37CB57AEF390</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DC338F63-C88F-4828-966A-3801A34D9BDD</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F553A7C1-99B3-4B66-91B4-24FDCD8E6325</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>afogh.dk</string>
</dict>
</plist>
